body {
    background-image: url(../image/Фон\ 1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    /* width: 1366px; */
    /* height: 770px; */
}
.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    padding: 0 79px;
    position: relative;
    margin-bottom: 54px;
    z-index: 1;
}
.header-menu::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 0.8;
    height: 58px;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}
.logo {
    text-decoration: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    color: #FFFFFF;
    transition: color 0.5s ease-in-out;
}
.logo:focus,
.logo:hover {
    color: #01813F;
}
.menu-right {
    display: flex;
    align-items: center;
}
.menu-svg {
    display: flex;
    align-items: center;
}
.menu-svg .menu-icon {
    text-decoration: none;
    margin-right: 24px;
    cursor: pointer;
    fill: #FFFFFF;
    transition: fill 0.5s ease-in-out; 
}
.menu-svg .menu-icon:focus,
.menu-svg .menu-icon:hover {
    fill: #01813F;
}
.vl {
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    /* mix-blend-mode: normal; */
    opacity: 0.5;
}
.welcome {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-left: 27px;
}
.welcome .button {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}
.welcome .button:focus,
.welcome .button:hover {
    color: #01813F;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    text-align: center;
    width: 444px;
    height: 584px;
    background-color: #FFFFFF;
    margin: auto;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.header-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.header-form .form-title {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    position: relative;
}
.header-form .form-title::before {
    content: "";
    position: absolute;
    margin-left: -60px;
    height: 18px;
    width: 18px;
    background-color: #3CB878;
}
.header-form .button {
    text-decoration: none;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.header-form .button:focus,
.header-form .button:hover {
    color: #01813F;
   border-bottom: 1px solid #01813F;
}
.social-network {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
}
.social-network .fb svg, .social-network .gg svg {
    fill: #FFFFFF;
}
.social-network .button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 160px;
    min-height: 48px; */
    border-radius: 4px;
    border: none;
    margin-left: 2px;
    padding: 0;
    transition: background-color 0.5s linear;
    position: relative;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 22px;
    padding-bottom: 12px;
}
.social-network .button::after {
    content: "";
    background-color: #0A162F;
    width: 1px;
    min-height: 28px;
    opacity: 0.1;  
    position: absolute;
    left: 48px;
    top: 10px;
}
.social-network .fb {
    background-color: #305DB8;
}
.social-network .fb:focus,
.social-network .fb:hover{
    background-color: #022263;
}
.social-network .gg {
    background-color: #DF4A32;
    position: relative;
}
.social-network .gg:focus,
.social-network .gg:hover {
    background-color: #AB1F09;
}
.social-network .icon {
    width: 30px;
    min-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-network .button .text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;   
    margin-left: 38px; 
}
.variant { 
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    position: relative;
    margin-left: 60px;
    margin-right: 60px;
    z-index: 1;
    margin-bottom: 12px;
}
.variant span {
    width: 15px;
    height: 14px;
    background-color: #FFFFFF;
    padding: 0 2px;
}
.variant::before {
    content: "";
    width: 100%;
    left: 0;
    top: 60%;
    position: absolute;
    z-index: -1;
    height: 0;
    border-top: 1px solid #F2F2F2;
}
.form-wrap {
    margin-left: 60px;
    margin-right: 60px;  
}
.form-wrap .form-field {
    color: #BEBEBE;
    /* margin-bottom: 15px; */
}
.form-wrap .form-field:not(:last-child) {
    margin-bottom: 15px;
} /* не срабатывает елемент для последнего?*/

.form-wrap .form-field input {
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    padding: 0;
    color: #BEBEBE;
    padding-left: 20px;
    padding-right: 20px;
}
.form-wrap .form-field input::placeholder{
    color: #BEBEBE;
}
.form-wrap .form-field input:focus,
.form-wrap .form-field input:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
    outline: none;
    /* transform: ; */
}
.form-wrap .form-field-check {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    position: relative; 
} 
.form-wrap .form-field-check .custom-checkbox {
    display: flex;
    align-items: center;
}
.form-wrap .form-field-check .rules {
    color: rgba(60, 184, 120, 0.8);
    text-decoration: none;
    transition: color 0.5s ease-in-out, border-bottom 0.5s ease-in-out;;
}
.form-wrap .form-field-check .rules:focus,
.form-wrap .form-field-check .rules:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;
}
/* input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]+.label::before {
    content: "";
    color: #01813F;
    display: inline;
}
.label::before {
    content: "";
    height: 20px;
    width: 20px;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2 ;
    display: inline-block;
    position: absolute;
    top: -5px;
    left: 0px;
} */
.form-wrap .form-field-button button {
    width: 324px;
    height: 46px;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding: 0;
    transition: background-color 0.5s ease-in-out;
}
.form-wrap .form-field-button button:focus,
.form-wrap .form-field-button button:hover {
    background-color: #01813F;
}











